.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
}

.jeu {
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imgface {
    width: 50px;
}

.jeu button {
    background-color: darkblue;
    color: white;
    padding: 5px;
    border: none;
    font-size: 17px;
    width: 100%;
}